<h2>New kafka instance</h2>

<%= render "form.html", changeset: @changeset,
                        action: kafka_instance_path(@conn, :create) %>

<%= link "Back", to: kafka_instance_path(@conn, :index) %>
