<h2>
  <%= link "Kafka instances", to: kafka_instance_path(@conn, :index) %> / New
</h2>

<%= render "form.html", changeset: @changeset, is_creating: true,
                        action: kafka_instance_path(@conn, :create) %>
