<h2>Topic <code><%= @topic.name %></code></h2>

<ul class="messages" data-topic="<%= @topic.name %>">
</ul>

<div class="buttons">
  <%= link "Back", to: kafka_instance_topic_path(@conn, :index, @kafka_instance) %>
</div>
