<h2>
  <%= link "Kafka instances", to: kafka_instance_path(@conn, :index) %> /
  <%= link @kafka_instance.name,
           to: kafka_instance_path(@conn, :show, @kafka_instance) %> /
  <%= @topic.name %>
</h2>

<ul class="messages" data-topic="<%= @kafka_instance.id %>,<%= @topic.name %>">
</ul>
