<h2>
  <%= link "Kafka instances", to: kafka_instance_path(@conn, :index) %> /
  <%= link @kafka_instance.name,
           to: kafka_instance_path(@conn, :show, @kafka_instance) %> /
  <%= @topic.name %>
</h2>

<section data-topic="<%= channel_name(@kafka_instance, @topic) %>">
  <ul class="messages">
  </ul>
</section>
