$font-family: 'Open Sans', sans-serif;
$font-weight: 300;
$color: #333;
$background-color: white;

$console-font-family: "Lucida Console", Monaco, monospace;
$console-background-color: black;
$console-background-color-alt: #333;
$console-color: #aaa;

$pad: 10px;
