@import "settings";
@import "mixins";

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

body {
  background-color: $background-color;
  font-family: $font-family;
  color: $color;
  font-weight: $font-weight;
}

h2, h3 {
  margin-bottom: $pad;
  border-bottom: 1px solid #ddd;
  padding-left: $pad;
}

h2 {
  font-size: 20px;
  line-height: 32px;
}

h3 {
  font-size: 16px;
  line-height: 26px;
}

code {
  font-family: $console-font-family;
}

.container {
  max-width: 936px;
  margin: auto;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
