@import "settings";
@import "mixins";

.kafka-instances {
  line-height: 22px;
  font-size: 16px;

  li {
    padding: 0 $pad;
    margin-bottom: $pad * 0.5;
  }

  li:nth-child(2n) {
    background-color: #fafafa;
  }

  a {
    display: block;
    font-size: 16px;
    line-height: 24px;
  }

  span {
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: #999;
    margin-left: $pad * 0.5;
  }
}

.kafka-instance-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $pad * 0.5;

  dl {
    display: block;
    width: 33.3%;
    padding: 0 $pad;
    margin-bottom: $pad * 0.5;
  }

  dt {
    font-size: 12px;
    line-height: 16px;
    color: #999;
  }

  dd {
    font-size: 16px;
    line-height: 20px;
    @include text-ellipsis;
  }
}
